:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*Color-fonts */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

/**
  |============================
  | Base styles
  |============================
*/
.body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo-link {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  color: var(--color-iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-link-cloud {
  color: var(--color-cloud);
}
.logo-link-blue {
  color: var(--color-navy-blue);
}
.btn {
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn-cloud {
  font-family: inherit;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
}
.btn-cloud:hover,
.btn-cloud:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  text-transform: capitalize;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-navy-blue);
  text-transform: capitalize;
  padding-bottom: 72px;
}
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.desc:hover,
.desc:focus {
  color: var(--color-ocean);
}
.p-text-slate {
  color: var(--color-slate);
  padding-top: 8px;
}
.p-text-cloud {
  color: var(--color-cloud);
  background-color: var(--color-navy-blue);
  width: 264px;
  height: 72px;
  padding-top: 16px;
}
.small-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
/**
  |============================
  | Header styles
  |============================
*/

.header-contact {
  font-style: normal;
  color: var(--color-slate);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--color-ocean);
}
.header-container {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-cornflower);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-contact-list {
  margin-left: 332px;
  display: flex;
  align-items: center;
  gap: 40px;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero-title {
  padding: 188px 313px 48px 313px;
}
.hero-container {
  align-items: center;
  text-align: center;
}
.hero-section {
  background-color: var(--color-navy-blue);
}
.hero-btn {
  margin-bottom: 188px;
}
/**
  |============================
  | Abaut styles
  |============================
*/
.abaut-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.abaut-list {
  display: flex;
  gap: 24px;
}
.abaut-item {
  width: 264px;
  height: 104px;
}
/**
  |============================
  | Portfolio styles
  |============================
*/
.portfolio-title-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
/**
  |============================
  | Team styles
  |============================
*/
.team-section {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-title-item {
  background-color: var(--color-white);
  text-align: center;
  padding-bottom: 32px;
}
.team-title-img {
  padding-bottom: 32px;
}
/**
  |============================
  | Filters style
  |============================
*/
.filter-section-list {
  display: flex;
  padding: 96px 271px 72px 271px;
  gap: 24px;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
